<textarea id="text" style="height: 300px;">

</textarea>

<button onclick="draw()">
    Нарисовать
</button>
<canvas id="canvas" width="900" height="900"></canvas>

<script>
    var init = [
        {
            x: 100,
            y: 100,
            walls: [
                {
                    x: 200,
                    y: 100,
                    exist: true
                },
                {
                    x: 400,
                    y: 300,
                    exist: true,
                    cp1x: 400,
                    cp1y: 100,
                    cp2x: 400,
                    cp2y: 100
                },
                {
                    x: 300,
                    y: 300
                },
                {
                    x: 100,
                    y: 300,
                    exist: true
                },
                {
                    x: 100,
                    y: 100,
                    exist: true
                }
            ]
        },
        {
            x: 300,
            y: 300,
            walls: [
                {
                    x: 300,
                    y: 500,
                    exist: true
                },
                {
                    x: 600,
                    y: 500,
                    exist: true
                },
                {
                    x: 600,
                    y: 300,
                    exist: true
                },
                {
                    x: 500,
                    y: 300
                },
                {
                    x: 400,
                    y: 300,
                    exist: true
                },
            ]
        },
        {
            x: 500,
            y: 300,
            walls: [
                {
                    x: 700,
                    y: 100,
                    cp1x: 500,
                    cp1y: 100,
                    cp2x: 500,
                    cp2y: 100,
                    exist: true
                },
                {
                    x: 700,
                    y: 300,
                    exist: true
                },
                {
                    x: 600,
                    y: 300,
                    exist: true
                }
            ]
        }
    ];

    const textarea = document.getElementById("text");

    textarea.value = JSON.stringify(init, 2, 2);

    window.draw = () => {
        const text = textarea.value;
        const value = JSON.parse(text);
        var canvas = document.getElementById("canvas");
        var ctx = canvas.getContext("2d");

        ctx.clearRect(0, 0, canvas.width, canvas.height);

        ctx.fillStyle = "green";
        ctx.lineWidth = 3;
        ctx.strokeStyle = 'blue';

        value.forEach(({ x, y, walls }) => {
            ctx.beginPath();
            ctx.moveTo(x, y);

            walls.forEach(wall => {
                ctx.bezierCurveTo(
                    wall.cp1x || wall.x,
                    wall.cp1y || wall.y,
                    wall.cp2x || wall.x,
                    wall.cp2y || wall.y,
                    wall.x,
                    wall.y
                );
            });

            ctx.fill();

            walls.reduce((prev, wall) => {
                ctx.beginPath();
                ctx.moveTo(prev.x, prev.y);

                if (wall.exist) {
                    ctx.bezierCurveTo(
                        wall.cp1x || wall.x,
                        wall.cp1y || wall.y,
                        wall.cp2x || wall.x,
                        wall.cp2y || wall.y,
                        wall.x,
                        wall.y
                    );
                } else {
                    ctx.moveTo(wall.x, wall.y);
                }

                ctx.stroke();

                return wall;
            }, { x, y })
        });
    }
</script>