@font-face {
    font-family: Starseed;
    src: url("./resources/StarseedPro.ttf") format('truetype');
}

body, button, input  {
    font-family: Starseed, Arial, sans-serif;
}

.layout {
    margin: 0;
    background-color: #5adae5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.layout .layout__content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: #81ba44;
}

.layout .layout__cloud {
    position: relative;
    height: 100px;
    width: 100%;
    overflow: hidden;
}

.layout .layout__cloud:before {
    content: '';
    display: block;
    width: 100%;
    height: 100px;
    background-size: contain;
    background-image: url("./resources/cloud.png");
    background-repeat: repeat-x;
    position: absolute;
    min-width: 3984px;
    top: 0;
}

.logo {
    width: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.logo:after {
    content: '';
    position: absolute;
    top: 52%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
    background-color: #81ba44;
}

.logo .logo__name {
    display: inline-block;
    width: 400px;
    height: 200px;
    background-image: url("./resources/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.logo .logo__ground {
    background-image: url("./resources/ground.png");
    background-size: contain;
    background-repeat: repeat-x;
    width: 100%;
    height: 46px;
    position: absolute;
    top: 50%;
    z-index: -1;
    display: block;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}

.logo .logo__grass {
    width: 80px;
    height: 40px;
    left: 50%;
    top: 67%;
    position: absolute;
    background-image: url("./resources/grass.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.logo .logo__grass.logo__grass_place_one {
    -webkit-transform: translate(-451px,-10px);
    -ms-transform: translate(-451px,-10px);
    transform: translate(-451px,-10px);
}

.logo .logo__grass.logo__grass_place_two {
    -webkit-transform: translate(-284px, 13px);
    -ms-transform: translate(-284px, 13px);
    transform: translate(-284px, 13px);
}

.logo .logo__grass.logo__grass_place_three {
    -webkit-transform: translate(245px, -8px);
    -ms-transform: translate(245px, -8px);
    transform: translate(245px, -8px);
}

.logo .logo__grass.logo__grass_place_four {
    -webkit-transform: translate(374px, 0px);
    -ms-transform: translate(374px, 0px);
    transform: translate(374px, 0px);
}

.button {
    text-align: center;
    padding: 4px 25px;
    font-size: 20px;
    line-height: 26px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    cursor: pointer;
    color: white;
    background-color: #d85234;
    position: relative;
    border-top: 7px solid #d85234;
    border-bottom: 7px solid #d85234;
    border-left: none;
    border-right: none;
    -webkit-box-shadow: -13px 0 0 -7px #d85234;
    box-shadow: -13px 0 0 -7px #d85234;
}

.button.button_submit {
    background-color: #fed811;
    color: #d85234;
    -webkit-box-shadow: -13px 0 0 -7px #fed811;
    box-shadow: -13px 0 0 -7px #fed811;
    border-top: 7px solid #fed811;
    border-bottom: 7px solid #fed811;
}

.button.button_submit:before {
    -webkit-box-shadow: 6px 0 0 0 #fed811;
    box-shadow: 6px 0 0 0 #fed811;
}

.button:active {
    -webkit-transform: translate(0, 3px);
    -ms-transform: translate(0, 3px);
    transform: translate(0, 3px);
}

.button:before {
    content: '';
    display: block;
    -webkit-box-shadow: 6px 0 0 0 #d85234;
    box-shadow: 6px 0 0 0 #d85234;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.button.button_wide {
    width: 100%;
}

.form .form__field + .form__field {
    margin-top: 10px;
}

.form-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.form-wrap .form-wrap__inner {
    width: 200px;
}

.input {
    color: white;
    position: relative;
    border-top: 7px solid #308140;
    border-bottom: 7px solid #308140;
    border-left: none;
    border-right: none;
    -webkit-box-shadow: -13px 0 0 -7px #308140;
    box-shadow: -13px 0 0 -7px #308140;
    display: inline-block;
}

.input:after {
    content: '';
    display: block;
    -webkit-box-shadow: 6px 0 0 0 #308140;
    box-shadow: 6px 0 0 0 #308140;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.input__field {
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
    color: white;
    font-size: 21px;
    line-height: 26px;
    padding: 2px;
}

.input__field::-webkit-input-placeholder {
    color: rgb(94, 158, 68);
}

.input__field:-ms-input-placeholder {
    color: rgb(94, 158, 68);
}

.input__field::-ms-input-placeholder {
    color: rgb(94, 158, 68);
}

.input__field::placeholder {
    color: rgb(94, 158, 68);
}

.input__label {
    position: absolute;
    left: -10px;
    top: 50%;
    -webkit-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%);
}

.text {
    font-size: 16px;
    line-height: 20px;
}

.text.text_size_big {
    font-size: 21px;
    line-height: 26px;
}

.text.text_color_white {;
    color: white;
}

.text.text_color_green {
    color: #0c6b38;
}

.align-center {
    text-align: center;
}

.table {
    display: block;
    width: 700px;
    margin: auto;
}

.table > .table_head, .table > .table_body {
    width: 100%;
    display: block;
}

.table .table_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.table > .table_head > .table_row > .table_cell:first-child,
.table > .table_body > .table_row > .table_cell:first-child {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: left;
}

.table > .table_head > .table_row > .table_cell,
.table > .table_body > .table_row > .table_cell {
    width: 70px;
    text-align: left;
}

.table > .table_body > .table_row > .table_cell {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.table > .table_body > .table_row > .table_cell::after {
    content: '';
    display: block;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-transform: translate(0, 50%);
    -ms-transform: translate(0, 50%);
    transform: translate(0, 50%);
    border-top: 1px solid #0c6b38;
    margin: 0 10px;
}

.table > .table_body > .table_row > .table_cell:last-child::after {
    display: none;
}
